extends ../layout

block content
  .row
    .col.col-4
      h1 Registration completed
      section
        p Help us secure your LibTuts account by verifying your email address. This lets you access all of LibTuts features.
        p Check your email for a link to verify your email. If it doesn't appear within a few minutes, check your spam folder.
        .buttons
          a.btn.btn-action.btn-wide(href="/") Go to mainpage

